.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border:1px solid black;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  /* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav {
      margin-top: 20px;
    }
  
    .nav ul li {
      display: block;
      margin: 10px 0;
    }
  }